.card-container {
  width: 25rem;
  height: auto;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4rem;
  justify-content: center;
}

.card-text-container {
  padding: 1rem;
}

.card-text-container h2 {
  margin-bottom: 0.5rem;
}

.img-card {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media (max-width: 992px) {
  .card-container {
    margin-bottom: 2rem;
  }
}
