.hero-wrapper {
  height: 100vh;
  position: relative;
  background-color: #000000;
}

.hero-image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.centered-div {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  letter-spacing: 0.3rem;
}
.animation-text {
  font-size: 4rem;
  display: inline-block;
}
.greeting-text {
  font-size: 3rem;
}
.greeting-p {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 4rem;
  -webkit-text-stroke: 2px var(--green-dark);
}

@media (max-width: 992px) {
  .hero-wrapper {
    width: 100vw;
  }
  .centered-div {
    top: 25%;
    width: 25rem;
    letter-spacing: 0.1rem;
  }
  .greeting-text {
    font-size: 1.5rem;
  }
  .greeting-p {
    font-size: 1.5rem;
  }
  .animation-text {
    font-size: 2.5rem;
  }
}
